body {
  background-color:#777777;
  margin:0;
  overflow:hidden;
  padding:0;
}

.screen {
  animation:colorPulse 2s infinite ease-in-out;
  background-image:radial-gradient(#444, #111);
  box-shadow:0 0 5vmin 1vmin #646464 inset;
  box-sizing:border-box;
  font-family:'宋体';
  font-size:20px;
  height:100vh;
  overflow:hidden;
  padding:10vmin;
  width:100vw;
}

.screen:before {
  animation: 10s wave 5s infinite ease-in-out;
  content:"";
  height:20vh;
  left:0;
  opacity:.5;
  position:absolute;
  right:0;
  z-index:1;
}

.screen:after {
  background-image:linear-gradient(transparent, transparent 3px, #363636);
  background-size:4px 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

.shuru:after {
  animation:blink 1s infinite;
  content:"_";
}

@keyframes colorPulse {
  0%, 100% {
    color:rgb(255, 255, 255);
  }
  48%, 52% {
    color:rgb(194, 218, 194);
  }
  50% {
    color:rgb(144, 238, 144);
  }
}

@keyframes wave {
  0% {
    box-shadow:0 -10vh 20vh #0c0;
    top:-100vh;
  }
  48%, 52% {
    box-shadow:0 -10vh 20vh #090;
  }
  50% {
    box-shadow:0 -10vh 20vh #060;
  }
  100% {
    box-shadow:0 -10vh 20vh #0c0;
    top:200vh;
  }
}

@keyframes blink {
  50% {
    opacity:0;
  }
}