*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    min-height: 100vh;
}
.top-parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.top-parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}